:root {
  --color-dark: #313131;
  --color-dark-blue: #011152;
  --color-medium-blue: #5babdd;
  --color-light-blue: #1890da;
  --color-grey: #636d77;
  --color-light-grey: #e1e3e3;
  --color-very-light-grey: #f5f5f9;
  --color-transparent-grey: rgba(225, 227, 227, 0.5);
  --color-green: #60bc85;
  --color-green-2: #068447;
  --color-red: #fd7171;
  --color-red-2: #e90152;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-text-grey: #757575;
  --color-dark-grey: #313131;
  --color-medium-grey: #f5f5f9;
  --color-grey-background: #f2f2f2;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-gradient-1: #8362e5;
  --color-gradient-2: #1a8fdb;
  --color-gradient: linear-gradient(
    to top right,
    var(--color-gradient-1) -1.66%,
    var(--color-gradient-2) 94.92%
  );
  --color-gradient-1-faded: #8362e533;
  --color-gradient-2-faded: #1a8fdb33;
  --color-gradient-faded: linear-gradient(
    to top right,
    var(--color-gradient-1-faded) -1.66%,
    var(--color-gradient-2-faded) 94.92%
  );
  --color-gradient-1-dark: #6a51b2;
  --color-gradient-2-dark: #1b7cbc;
  --color-gradient-dark: linear-gradient(
    to top right,
    var(--color-gradient-1-dark) -1.66%,
    var(--color-gradient-2-dark) 94.92%
  );
}

.color--primary {
  color: var(--color-primary);
}

.color--dark {
  color: var(--color-dark);
}

.color--black {
  color: var(--color-black);
}

.color--grey {
  color: var(--color-grey);
}

.color--white {
  color: var(--color-white);
}

.color--light--blue {
  color: var(--color-light-blue);
}

.color--medium--blue {
  color: var(--color-medium-blue);
}

.color--dark--blue {
  color: var(--color-dark-blue);
}

.color--gradient {
  color: var(--color-gradient);
}

.color--gradient--faded {
  color: var(--color-gradient-faded);
}

.color--gradient--dark {
  color: var(--color-gradient-dark);
}

.color--green {
  color: var(--color-green);
}

.color--red {
  color: var(--color-red);
}

.color--green--2 {
  color: var(--color-green-2);
}

.color--red--2 {
  color: var(--color-red-2);
}

.background--white {
  background-color: var(--color-white);
}

.background--grey {
  background-color: var(--color-grey);
}

.background--medium--grey {
  background-color: var(--color-medium-grey);
}

.background--light--grey {
  background-color: var(--color-light-grey);
}

.background--very--light--grey {
  background-color: var(--color-very-light-grey);
}

.background--red {
  background-color: var(--color-red);
}

.background--red--2 {
  background-color: var(--color-red-2);
}

.background--green {
  background-color: var(--color-green);
}

.background--green--2 {
  background-color: var(--color-green-2);
}

.background--transparent {
  background-color: transparent;
}

.background--gradient {
  background-image: var(--color-gradient);
}

.background--gradient--faded {
  background-image: var(--color-gradient-faded);
}

.background--gradient--dark {
  background-image: var(--color-gradient-dark);
}

input.placeholder--light--grey::placeholder {
  color: var(--color-text-grey);
}

.border--bottom--gradient {
  border-bottom-color: var(--color-text-grey);
  &:active,
  &:focus {
    border-bottom-color: var(--color-gradient-2);
  }
}
